.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
*{
  background: skyblue;
}
input{
  border: 1px solid black;
}
form{
  border: 1px solid green;
  padding: 20px;
  box-shadow: 1px 2px 3px 4px;
}
button{
  padding: 12px;
  margin-top: 10px;
  font-weight: bold;
  border: 2px solid blue;
  border-radius: 25px;
  background-color: aqua;
  cursor: pointer;
}
h1{
  color: rgb(192, 140, 148);
}
input,textarea{
  margin: 10px;
  font-weight: 600;
}
label{
  font-weight: bold;
}